/* Styles for the FirstTab component */

.FirstTab_grid {
    margin-left: 30px;
    margin-right: 30px;
    margin-top:20px;
    height:100px;
}

.FirstTab_button {
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.linked_button {
    text-decoration: none;
}

p {
    white-space: pre-wrap;
}