  
/* Styles for the ArticleSection component */
.articleSection_paper {
    padding: 20px; 
    margin-top: 50px;
    background-color: white;
  }
  
.articleSection_grid {
    padding: 20px;
    background-color: white;
}

.linked_button {
  text-decoration: none;
}

  